

.mat-raised-button{
    display: flex;
    margin: 0 auto;
    width: 100%;

  }

.review-display-body  {
  width: 500px;
  margin-left: 20px;
  height: 500px;
  overflow:auto;
  margin-right: 0px;
  padding-right: 0px  ;
}
.star-rating-filled {
  fill: #3F51B5 ;
}

.star-rating-blank {
  fill: #afa6a6;
}

.review-page{
padding: 0%;
}

.card-subtitle{
  display: flex;
  font-weight: bold;
  color: #afa6a6;
  margin-top: 0mm;
}

.card-title{
  margin-bottom: 0mm;
  font-size: 125%;
  font-weight: bold;
}

.review-individual{

  margin-top: 15px;
  margin-right: 0px;
}

.card-action{
  margin-top: 10px;
}

