table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 500px;
    margin-left: 100px;
    margin-right: 100px;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }


.first{
  width: 500px;
  margin-left: 20px;
  height: 500px;
  overflow:auto;
}
.star-rating-filled {
  fill: #3F51B5 ;
}

.star-rating-blank {
  fill: #afa6a6;
}
